doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(type='text/css', rel='stylesheet', href="{{ url_for('static', filename='css/materialize.min.css') }}", media='screen,projection')
        #link(type='text/css', rel='stylesheet', href="{{ url_for('static', filename='css/style.css') }}", media='screen,projection')
    .page
        script(type='text/javascript', src="{{ url_for('static', filename='js/jquery.min.js') }}")
        script(type='text/javascript', src="{{ url_for('static', filename='js/materialize.min.js') }}")
        ul#dropdown1.dropdown-content
            li
                if not session.logged_in
                    a(href="{{ url_for('login') }}") log in
                else
                    a(href="{{ url_for('logout') }}") log out
        nav.nav-extended
            .nav-wrapper
                a.brand-logo(href='/') Flaskr
                ul.right.hide-on-med-and-down
                    li
                        a.dropdown-button(href='#!', data-activates='dropdown1')
                            i.material-icons.right view_module
            .nav-content
                each message in get_flashed_messages()
                    spanb.hide-on-med-and-down {{ message }}
                if session.logged_in
                    a.btn-floating.btn-large.halfway-fab.waves-effect.waves-light.teal(href="{{ url_for('new') }}")
                        i.material-icons add

block body
