extends layout

block body
    h2 Login
    if error
        p Error: {{ error }}

    form(action="{{ url_for('login') }}", method='POST')
        .row
            input.input-field.col.s6(type='text', name='username', placeholder="Username")
        .row
            input.input-field.col.s6(type='password', name='password', placeholder="Password")
        input.btn.waves-effect.waves-light(type='submit', value='Login')
