extends layout

block body
    h2 Add new Entry
    if error
        p Error: {{ error }}
    form(action="{{ url_for('new') }}", method='POST')
        .row
            input.input-field.col.s6(type='text', name='title', placeholder="Title")
        .row
            textarea.materialize-textarea.col.s6(type='text', name='text', rows="5", cols="40", placeholder="Entrie Content")
        input.btn.waves-effect.waves-light(type='submit', value='Post')
