extends layout

block body
    ul.collapsible.popout(data-collapsible='accordion')
        if entries
            for i in entries
                li
                    .collapsible-header
                        i.material-icons library_books
                        | {{ i.title }}
                        span.right {{ i.pub_date.strftime('%Y-%m-%d %H:%M') }}
                    .collapsible-body
                        span {{ i.text|safe }}
        else
            li
                em
                    Unbelievable. No entries here so far
